<meta property="og:locale" content="en_En" />
<meta property="og:type" content="article" />
<meta
  property="og:title"
  content="{% if page.title %}{{ page.title }}{% else %}{{
    site.title
  }}{% endif %}"
/>
<meta
  property="og:description"
  content="{% if page.description %}{{ page.description }}{% else %}{{
    site.description
  }}{% endif %}"
/>
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta
  property="og:image"
  content="{{ site.img_url }}c_thumb,h_300,w_500{{ page.thumb }}"
/>

<meta name="twitter:card" content="summary" />
<meta
  name="twitter:description"
  content="{% if page.description %}{{
page.description }}{% else %}{{ site.description }}{% endif %}"
/>
<meta
  name="twitter:title"
  content="{% if page.title %}{{ page.title }}{% else
%}{{ site.title }}{% endif %}"
/>
<meta name="twitter:site" content="@S_SCHIACCI" />
<meta
  name="twitter:image"
  content="{{ site.img_url }}c_thumb,h_300,w_500{{ page.thumb }}"
/>
<meta name="twitter:creator" content="@S_SCHIACCI" />
