---
layout: default
---

<!-- -  -->
<section class="pt-20 lg:pt-32 pb-10 lg:pb-20">
  <div class="mx-auto px-4 max-w-4xl">
    <h1 class="mb-10 lg:mb-20 text-3xl md:text-6xl font-medium">
      Design and development
    </h1>
    <div class="md:text-2xl">{{ content }}</div>
  </div>
</section>

<section class="pb-10 lg:pb-24 md:text-left">
  <div class="max-w-4xl mx-auto px-4 mb-2">
    <div class="flex flex-wrap items-baseline justify-start">
      <a
        class="flex cursor-pointer border-2 border-gray-700 hover:border-blue-500 items-center rounded-lg py-2 px-4 ml-2 mb-2"
        href="https://twitter.com/S_SCHIACCI"
      >
        <img
          class="w-6 h-6 mr-2"
          src="/assets/ico/icon-twitter.svg"
          alt="Simon Barak Avatar"
        />
        <div class="">
          <div class="leading-none">Twitter</div>
        </div>
      </a>
      <a
        class="flex cursor-pointer border-2 border-gray-700 hover:border-blue-500 items-center rounded-lg py-2 px-4 ml-2 mb-2"
        href="https://www.instagram.com/simm_eon"
      >
        <img
          class="w-6 h-6 mr-2"
          src="/assets/ico/icon-instagram.svg"
          alt="Simon Barak Avatar"
        />
        <div class="">
          <div class="leading-none">Instagram</div>
        </div>
      </a>
      <a
        class="flex cursor-pointer border-2 border-gray-700 hover:border-blue-500 items-center rounded-lg py-2 px-4 ml-2 mb-2"
        href="https://www.linkedin.com/in/simon-barak/"
      >
        <img
          class="w-6 h-6 rounded-full mr-2"
          src="/assets/ico/icon-linkedin.svg"
          alt="Behance Icon"
        />
        <div class="">
          <div class="leading-none">LinkedIn</div>
        </div>
      </a>
      <a
        class="flex cursor-pointer border-2 border-gray-700 hover:border-blue-500 items-center rounded-lg py-2 px-4 ml-2 mb-2"
        href="https://github.com/simonbarak"
      >
        <img
          class="w-6 h-6 rounded-full mr-2"
          src="/assets/ico/icon-github.svg"
          alt="github icon"
        />
        <div class="">
          <div class="leading-none">GitHub</div>
        </div>
      </a>

      <!-- <a
        class="flex cursor-pointer border-2 border-gray-700 hover:border-blue-500 items-center rounded-lg py-2 px-4 ml-2 mb-2"
        href="https://www.behance.net/simon-barak"
      >
        <img
          class="w-6 h-6 rounded-full mr-2"
          src="/assets/ico/icon-behance.svg"
          alt="Behance Icon"
        />
        <div class="">
          <div class="leading-none">Behance</div>
        </div>
      </a> -->
    </div>
  </div>

  <div class="max-w-4xl mx-auto">
    <!-- <div class="text-sm p-2 m-2 text-gray-400">Contact</div> -->
    <div class="flex flex-wrap px-4">
      <a
        class="flex cursor-pointer border-2 border-gray-700 hover:border-blue-500 items-center rounded-lg py-2 px-4 ml-2 mb-2"
        href="mailto:simon@hlasem.com"
      >
        <img
          class="w-6 h-6 rounded-full mr-2"
          src="/assets/ico/icon-mail.svg"
          alt="Avatar of Jonathan Reinink"
        />
        <div class="">
          <div class="leading-none">simon@hlasem.com</div>
        </div>
      </a>
    </div>
  </div>
</section>

<!-- <section class="py-10 flex flex-wrap">
  {%- for item in site.projects -%} {%- if item.mobile-images[0] -%} {%- include
  mobile-mockup.html -%} {%- endif -%}{%- endfor -%}
</section> -->

<section class="">
  <div class="mx-auto grid grid-cols-2 md:grid-cols-3">
    {% assign items = site.projects | sort: 'weight' %} {%- for item in items
    limit: 10 -%} {%- if item.video-thumb -%} {%- include video-thumb.html -%}
    {%- endif -%}{%- endfor -%}
  </div>
</section>

<section class="py-10">
  <div class="container mx-auto">
    <h2 class="text-lg md:text-3xl p-2 m-2 text-gray-400 font-medium">
      Tool Box
    </h2>
    {%- include tool-box.html -%}
  </div>
</section>
<footer class="text-center py-48">
  <p class="-">simon@hlasem.com</p>
</footer>
