---
layout: default
---

<!-- -  -->
<section class="pt-20 pb-10 blure-in">
  <div class="mx-auto px-2 md:max-w-2xl">
    <h1 class="mb-10 text-3xl md:text-6xl font-light">{{ page.headline }}</h1>
    <div class="max-w-2xl text-xl mb-10">{{ content }}</div>
    <div class="mb-10">
      <a
        href="https://paper.dropbox.com/doc/Simon-Barak--BOaRdkougNAINK7o879vOm18AQ-9X27cb80oC3sAy3tn92OI"
        atl="Resumé"
        class="
          cursor-pointer
          border-2 border-gray-700
          hover:border-blue-500
          items-center
          rounded-lg
          py-2
          px-4
        "
      >
        Resumé (CZ)
      </a>
    </div>
    <!-- <div>
      <div class="flex items-center mb-10">
        <img
          src="assets/img/identity.jpg"
          alt="Portait of Simon Barak"
          class="rounded-full overflow-hidden border-2 border-gray-400 w-20"
        />
        <div class="text-left ml-4">
          <p class="font-bold">Šimon Bařák</p>
          <p class="">Web Developer</p>
        </div>
      </div>
    </div> -->
  </div>
</section>
<!-- -  -->

<!-- <section>
  <div class="py-10 md:py-20">
    <div class="desktop-mockup m-auto">
      <div>
        <img
          src="https://res.cloudinary.com/dhxmg9p4i/image/upload/v1601044804/blog/pr.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
</section> -->

<section class="py-10 blure-in text-center md:text-left">
  <div class="md:max-w-2xl lg:max-w-5xl mx-auto mb-10">
    <div class="text-sm p-2 m-2 text-gray-400">See my work on social media</div>
    <div class="flex flex-wrap items-baseline justify-center md:justify-start">
      <a
        class="
          flex
          cursor-pointer
          border-2 border-gray-700
          hover:border-blue-500
          items-center
          rounded-lg
          py-2
          px-4
          m-2
        "
        href="https://twitter.com/S_SCHIACCI"
      >
        <img
          class="w-10 h-10 mr-4"
          src="/assets/ico/icon-twitter.svg"
          alt="Simon Barak Avatar"
        />
        <div class="">
          <div class="leading-none text-lg">Twitter</div>
        </div>
      </a>
      <a
        class="
          flex
          cursor-pointer
          border-2 border-gray-700
          hover:border-blue-500
          items-center
          rounded-lg
          py-2
          px-4
          m-2
        "
        href="https://twitter.com/S_SCHIACCI"
      >
        <img
          class="w-10 h-10 mr-4"
          src="/assets/ico/icon-instagram.svg"
          alt="Simon Barak Avatar"
        />
        <div class="">
          <div class="leading-none text-lg">Instagram</div>
        </div>
      </a>
      <a
        class="
          flex
          cursor-pointer
          border-2 border-gray-700
          hover:border-blue-500
          items-center
          rounded-lg
          py-2
          px-4
          m-2
        "
        href="https://www.linkedin.com/in/simon-barak/"
      >
        <img
          class="w-10 h-10 rounded-full mr-4"
          src="/assets/ico/icon-linkedin.svg"
          alt="Behance Icon"
        />
        <div class="">
          <div class="leading-none text-lg">LinkedIn</div>
        </div>
      </a>
      <a
        class="
          flex
          cursor-pointer
          border-2 border-gray-700
          hover:border-blue-500
          items-center
          rounded-lg
          py-2
          px-4
          m-2
        "
        href="https://github.com/simonbarak"
      >
        <img
          class="w-10 h-10 rounded-full mr-4"
          src="/assets/ico/icon-github.svg"
          alt="github icon"
        />
        <div class="">
          <div class="leading-none text-lg">GitHub</div>
        </div>
      </a>

      <a
        class="
          flex
          cursor-pointer
          border-2 border-gray-700
          hover:border-blue-500
          items-center
          rounded-lg
          py-2
          px-4
          m-2
        "
        href="https://www.behance.net/simon-barak"
      >
        <img
          class="w-10 h-10 rounded-full mr-4"
          src="/assets/ico/icon-behance.svg"
          alt="Behance Icon"
        />
        <div class="">
          <div class="leading-none text-lg">Behance</div>
        </div>
      </a>
    </div>
  </div>

  <div class="md:max-w-2xl lg:max-w-5xl mx-auto">
    <div class="text-sm p-2 m-2 text-gray-400">Contact</div>
    <div class="flex flex-wrap items-baseline justify-center md:justify-start">
      <a
        class="
          flex
          cursor-pointer
          border-2 border-gray-700
          hover:border-blue-500
          items-center
          rounded-lg
          py-2
          px-4
          m-2
        "
        href="mailto:simon@hlasem.com"
      >
        <img
          class="w-10 h-10 rounded-full mr-4"
          src="/assets/ico/icon-mail.svg"
          alt="Avatar of Jonathan Reinink"
        />
        <div class="">
          <div class="leading-none text-lg">simon@hlasem.com</div>
        </div>
      </a>
    </div>
  </div>
</section>

<section class="py-10 blure-in flex flex-wrap">
  {%- for item in site.projects -%} {%- if item.mobile-images[0] -%} {%- include
  mobile-mockup.html -%} {%- endif -%}{%- endfor -%}
</section>

<section class="py-10 mb-40">
  <div class="md:max-w-2xl lg:max-w-5xl mx-auto">
    <h2 class="text-sm p-2 m-2 text-gray-400">Tool box</h2>
    {%- include tool-box.html -%}
  </div>
</section>
<!-- <section class="py-10 lg:pb-40">
  <div class="md:max-w-2xl lg:max-w-5xl mx-auto">
    <h2 class="mb-3 text-3xl md:text-6xl font-light">Links</h2>

    <div class="p-2 pb-3">
      <blockquote class="twitter-tweet">
        <p lang="en" dir="ltr">
          Is anybody else missing text and images when listening to
          audiobooks?<br /><br />I think that copy note or search in the text is
          an important feature for audiobook interface.
          <a
            href="https://twitter.com/hashtag/audiobook?src=hash&amp;ref_src=twsrc%5Etfw"
            >#audiobook</a
          >
          <a
            href="https://twitter.com/hashtag/tts?src=hash&amp;ref_src=twsrc%5Etfw"
            >#tts</a
          >
          <a
            href="https://twitter.com/hashtag/webdevelopment?src=hash&amp;ref_src=twsrc%5Etfw"
            >#webdevelopment</a
          >
          <a
            href="https://twitter.com/hashtag/Dyslexia?src=hash&amp;ref_src=twsrc%5Etfw"
            >#Dyslexia</a
          >
          <a href="https://t.co/fwvwKH9UCn">pic.twitter.com/fwvwKH9UCn</a>
        </p>
        &mdash; Šimon Bařák
        <a
          href="https://twitter.com/S_SCHIACCI/status/1278723414677696514?ref_src=twsrc%5Etfw"
          >July 2, 2020</a
        >
      </blockquote>
      <script
        async
        src="https://platform.twitter.com/widgets.js"
        charset="utf-8"
      ></script>
    </div>
  </div>
</section> -->
