@tailwind base;

@tailwind components;

@tailwind utilities;

@import "./css/fonts.css";
@import "./css/mobile-mocup.css";

.vertical-absolute-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 600px) {
  .mockup-gallery button {
    opacity: 0;
  }
}

.mockup-gallery:hover button {
  opacity: 1;
}

.slide {
  display: none;
}

.active {
  animation: flash 1s;
  display: block;
}
